* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 20px;
  width: 320px;
}
#display {
  width: 90%;
  height: 50px;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: left;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
}
button {
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  background-color: #e0e0e0;
}

button:hover {
  background-color: #c2c2c2;
}
.div-1,
.div-2,
.div-3,
.div-4,
.div-5 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.div-5 {
  justify-content: space-around;
}
button.clear {
  width: 135px;
  background-color: #959393;
  color: white;
  border-radius: 10px;
}
button.equal {
  width: 135px;
  background-color: #959393;
  color: white;
  border-radius: 10px;
}
